
body {  
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    background-color: #fbfbfc;
}

 /* Menu */

.menu { 
    background-color: rgba(51, 51, 51,0.9);
    width: 100%;
    height: 45px;
    color: rgb(255, 255, 255);
    margin: auto;
    position: fixed;
    justify-content: space-between;
    backdrop-filter: blur(19px);
    font-size: 13px;

}

/* adadwa */

.text { 
    padding-top: 3px;
}

 /* Itens */

.menuicon { 

    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;

}

/* Links incorporados */

a { 
    color: rgb(233, 233, 233);
    text-decoration: none;
}

/* Saiba mais */

.saiba {    

    color: rgb(55, 112, 235);
    text-align: center;
    margin: auto;

}

/* Saiba mais 2 */

.saiba2 {    

    color: rgb(55, 112, 235);
    text-align: center;
    font-size: 20px;
    margin: auto;
    line-height: 2;

}

/* Anotações do início */

.anota {    
    background-color: rgb(243, 241, 241);
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    margin: auto;
}

.compra {   
    color: #0066cc;
}

/* Exibição 1 */

.pai1 {  

 
    margin: auto;
    padding-bottom: 10px;
    
}

.titu1 {    
    text-align: center;
    font-size: 50px;
    line-height: 1;
}

.sub1 {  
    text-align: center;
    line-height: 0;
    font-size: 30px;
}

/* Exibição 2 */

.pai2 {  

    background-color: black;
    padding-top: 20px;
    margin: auto;
    padding-bottom: 10px;

    
}

.titu2 {    
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 50px;
}

.sub2 {  
    text-align: center;
    font-size: 30px;
    color: white;
}

.extra1 {   

    color: rgb(110, 109, 109);
    text-align: center;
    font-size: 20px;
    line-height: 1;

}

/* Exibição 3 */

.pai3 {  

    margin: auto;
    margin-bottom: 0;

}

.titu3 {    
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 50px;
    line-height: 0,3;
}

.sub3 {  
    text-align: center;
    font-size: 30px;
    line-height: 0,7;
    color: rgb(0, 0, 0);

}

.extra2 {   
    color: rgb(110, 109, 109);
    text-align: center;
    font-size: 20px;
    line-height: 0;
}

/* Exibições d'mais */

.bruno {  
    background-color: rgb(226, 226, 226);
    height: 430px;
    display: flex;
 }
.pai4 {  

    height: 50%;

}

.image {    
    height: 50%;
    width: 40%;
}

.coluna {   
    margin-left: 20px;
    
}

.sobresite {    
    background-color: rgb(241, 241, 241);
    width: 50%;
    margin: auto;
    margin-left: 400px;
}

.sobreiten {    
    font-size: 13px;
}

.com2 { 
    background-color: rgb(245, 245, 245);

}
.com3 { 
    margin-left: 100px;
    padding-top: 20px;
    padding-right: 190px;
    padding-left: 190px;
    margin-right: 100px;
    color: rgb(146, 140, 140);
}

hr {    
    width: 1010px;
}

.icone {    
    top: 0;
    padding-top: 13px;
    padding-bottom: 10px;
    width: 20px;
    color: black;
}

.bag {  
    top: 0;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 30px; 
}
.sea {  
    top: 0;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 30px; 
}

.carro {    
    padding-left: 150px;
    background-color: rgba(32, 32, 32, 0.9);
    filter: blur(1px);
}